<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Song</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="get" action="/song-info">
        <button class="button" type="submit" name="song" value="1">1</button>
        <button class="button" type="submit" name="song" value="2">2</button>
        <button class="button" type="submit" name="song" value="3">3</button>
        <button class="button" type="submit" name="song" value="4">4</button>
    </form>
</body>
</html>
