<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hear Something New</title>
</head>
<body>
    <h1>Hear Something New</h1>
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="👂🏾" />
    <meta property="fc:frame:button:1" content="1" />
    <meta property="fc:frame:button:2" content="2" />
    <meta property="fc:frame:button:3" content="3" />
    <meta property="fc:frame:button:4" content="4" />
</body>
</html>
