<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ song }} by {{ artist }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="song-info">
        <div class="image-container" style="background-image: url('{{ image }}')"></div>
        <div>
            <h2>{{ song }}</h2>
            <p>{{ artist }}</p>
        </div>
    </div>
    <audio class="audio-player" controls autoplay loop>
        <source src="{{ preview }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</body>
</html>
